// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'kenvector_future';
  font-style: normal;
  font-weight: 200;
  src: asset_path('kenvector_future.ttf') format('truetype');
}
